body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.menu-items {
  display: flex;
  float: right;
  margin-right: 16px;
  margin-top: 18px;
}

.menu-items span > a {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  margin-right: 16px;
}

.menu-items a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menu-icon {
  margin-right: 16px;
  cursor: pointer;
}

.profile-img {
  width: 28px;
  height: 28px;
  margin-top: -3px;
}

.app-items {
  width: 250px;
  padding: 28px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 70px;
  top: 45px;
  box-sizing: border-box;
  display: none;
  background-color: white;
  z-index: 1;
}

.menu-icon:hover .app-items {
  display: block;
}

.app-items .img-label {
  display: inline-block;
}

.app-items img {
  width: 50px;
  height: 50px;
  padding: 15px;
}

.app-items p {
  margin-left: 25px;
}

.app-items img:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

header {
  height: 45px;
}

section {
  text-align: center;
  padding: 12%;
}

.search-box {
  width: 582px;
  position: relative;
  margin: 0 auto;
  z-index: -1;
}

input {
  width: 100%;
  color: #222;
  border: 1px solid #dfe1e5;
  font-size: 13px;
  padding: 14px;
  border-radius: 24px;
  outline: none;
}

input:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

input:focus {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.voice-search {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 8px;
  right: -20px;
}

button {
  background-color: #f2f2f2;
  color: #5f6368;
  font-size: 14px;
  height: 36px;
  padding: 10px 16px;
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
  color: #222;
  display: flex;
}

button:nth-child(1) {
  margin-right: 10px;
}

.submit {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

button:hover {
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
}

@media only screen and (max-width: 768px) {
  .search-box {
    width: 100%;
  }
  .home-img {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .search-box {
    width: 100%;
  }
  .home-img {
    width: 50%;
  }
}

@media screen and (max-width: 565px) {
  .search-box {
    width: 100%;
  }
  .home-img {
    width: 50%;
  }
}

@media screen and (max-width: 398px) {
  .search-box {
    width: 100%;
  }
  .home-img {
    width: 50%;
  }
  button {
    font-size: 10px;
    padding: 10px 8px;
  }

  section {
    padding: 10%;
  }
}
